.card-list {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.image-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 2rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.image-card__title {
  font-size: 2rem;
  font-weight: bold;
}

.image-card__image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
}